* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo_papa {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.logo {
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 151px;
    color: #000;
}

.the {
    margin-right: 10px;
    width: 90px;
    height: 80px;
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    color: #fff;
    background:#000;
    text-transform: uppercase;
    transform: rotate(-90deg);
}
/* links */

header {
    border-bottom: 2px solid #000;
    width: 1400px;
    margin: 30px auto 37px;
}

.links{
    display: flex;
    justify-content: space-between;
    width: 735px;
    margin: 30px auto;
    
}

.link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    text-decoration: none;
    transition: 0.3s;
}

.link:hover {
    padding-bottom: 4px;
    margin-bottom: -6px;
    border-bottom: 2px solid #000;
}